[submodule "freecodecamp_practice/freecodecamp_projects/Arithmetic_Formatter"]
	path = freecodecamp_practice/freecodecamp_projects/Arithmetic_Formatter
	url = https://github.com/Enuni5/boilerplate-arithmetic-formatter.git
